<!DOCTYPE html>
<html>
    <head>
        <title>UOS25</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    </head>
    <body>
        <!-- 판매 주문 주문현황 재고  -->
        <div class="main_container">
            <section class="top_container">
                <img src="/images/uos25_logo.png" class="main_logo">
                <div class="title">UOS25 전산 시스템</div>
                <div class="branch_name">휘경1동점</div>
                <div class="pos_code">POS 1</div>
            </section>
            <section class="left_container">
                <div class="menu active" target="sell">판매</div>
                <div class="menu" target="refund">환불</div>
                <div class="menu" target="order">주문</div>
                <div class="menu" target="order_status">주문현황</div>
                <div class="menu" target="store">입고</div>
                <div class="menu" target="stock">재고</div>
                <div class="menu" target="return">반품</div>
                <div class="menu" target="loss">손실</div>
                <div class="menu" target="discard">폐기</div>
                <div class="menu" target="member">회원관리</div>
                <div class="menu" target="employee">직원관리</div>
            </section>
            <section class="right_container">
                <div class="workspace sell active" name="sell">
                    <div class="workspace_table_container">
                        <table id="sell_list">
                        </table>
                    </div>
                    <div>
                        <div class="div_row float_left">
                            <div>
                                <label>상품코드</label>
                                <input id="sell_product_id"></input>
                            </div>
                            <div style="float: right;">
                                <label>판매금액</label>
                                <input></input>
                            </div>
                        </div>
                        <div class="div_row float_right">
                            <div>
                                <label>결제금액</label>
                                <input></input>
                            </div>
                        </div>
                        <div class="div_row float_right">
                            <div>
                                <label>거스름돈</label>
                                <input></input>
                            </div>
                        </div>
                        <div class="div_row float_right">
                            <div>
                                <button class="btn btn-primary">현금 결제</button>
                                <button class="btn btn-primary">카드 결제</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workspace refund" name="refund">
                </div>
                <div class="workspace order" name="order">
                </div>
                <div class="workspace order_status" name="order_status">
                </div>
                <div class="workspace store" name="store">
                </div>
                <div class="workspace stock" name="stock">
                    <table id="sell_list">
                    </table>
                </div>
                <div class="workspace return" name="return">
                </div>
                <div class="workspace loss" name="loss">
                </div>
                <div class="workspace discard" name="discard">
                </div>
                <div class="workspace member" name="member">
                </div>
                <div class="workspace employee" name="employee">
                </div>
            </section>
        </div>
    </body>
	<script src="lib/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
	<script src="js/main.js"></script>
    <script>
        $(document).ready(function() {
            main.init();
        });
    </script>
</html>
