<!DOCTYPE html>
<html>
    <head>
        <title>UOS25</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    </head>
    <body>
        <!-- 판매 주문 주문현황 재고  -->
        <div class="main_container">
            <section class="top_container">
                <img src="/images/uos25_logo.png" class="main_logo">
                <div class="title">UOS25 전산 시스템</div>
                <div class="branch_name">휘경1동점</div>
                <div class="pos_code">POS 1</div>
            </section>
            <section class="left_container">
                <div class="menu active" target="sell">판매</div>
                <div class="menu" target="selllist">판매기록</div>
                <div class="menu" target="refund">환불기록</div>
                <div class="menu" target="stock">재고</div>
                <div class="menu" target="order">주문</div>
                <div class="menu" target="order_status">주문현황</div>
                <div class="menu" target="store">입고</div>
                <div class="menu" target="return">반품</div>
                <div class="menu" target="return_status">반품현황</div>
                <div class="menu" target="loss">손실</div>
                <div class="menu" target="discard">폐기</div>
                <div class="menu" target="member">회원관리</div>
                <div class="menu" target="employee">직원관리</div>
                <div class="menu" target="cvs">생활서비스</div>
            </section>
            <section class="right_container">
                <div class="workspace sell active" name="sell">
                    <div class="workspace_sell_table_container">
                        <label>판매 대상</label>
                        <table id="sell_list">
                        </table>
                    </div>
                    <div class="workspace_sell_addon_container">
                        <div class="div_row">
                            <div class="float_left">
                                <label>상품코드</label>
                                <input id="sell_product_id">
                            </div>
                            <div class="float_right">
                                <label>판매금액</label>
                                <input id="sell_price_sum" class="sell_price_input" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>성별</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_sex" value="m">남성</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_sex" value="f">여성</label>
                            </div>
                            <div class="float_right">
                                <label>사용 포인트</label>
                                <input id="sell_use_point_price" class="sell_price_input" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>연령</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="10대">10대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="20대">20대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="30대">30대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="40대">40대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="50대">50대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="60대">60대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="기타">기타</label>
                            </div>
                            <div class="float_right">
                                <label>결제하실 금액</label>
                                <input id="sell_need_pay_price" class="sell_price_input" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_right">
                                <label>결제하신 금액</label>
                                <input id="sell_paid_price" class="sell_price_input" value=0>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>회원번호</label>
                                <input id="sell_member_code">
                            </div>
                            <div class="float_left">
                                <label>비밀번호</label>
                                <input type="password" id="sell_member_pw">
                            </div>
                            <div class="float_right">
                                <label>거스름돈</label>
                                <input id="sell_change" class="sell_price_input" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <button id="sell_member_check_button" class="btn btn-primary btn-sm">회원 확인</button>
                                <label id="sell_member_check_complete" class="point_dialog_member_check_msg">확인완료</label>
                                <label id="sell_member_check_fail" class="point_dialog_member_check_msg">등록되지 않은 회원입니다.</label>
                            </div>
                            <div class="float_right">
                                <label>적립 포인트</label>
                                <input id="sell_save_point_price" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>보유 포인트</label>
                                <input id="sell_member_before_point" val=0 disabled>
                            </div>
                            <div class="float_left">
                                <label>결제 후 포인트</label>
                                <input id="sell_member_after_point" val=0 disabled>
                            </div>
                            <div class="float_right">
                                <button id="sell_by_cash" class="btn btn-primary">현금 결제</button>
                                <button id="sell_by_card" class="btn btn-primary">카드 결제</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="workspace selllist" name="selllist">
                    <div style="height: 350px;">
                        <label>판매 목록</label>
                        <table id="selllist_table">
                        </table>
                    </div>
                    <div style="height: 300px;">
                        <label>판매 상세</label>
                        <table id="selllist_detail_table">
                        </table>
                    </div>
                </div>

                <div class="workspace refund" name="refund">
                    <div class="workspace_refund_list_container">
                        <label>환불 목록</label>
                        <table id="refund_list">
                        </table>
                    </div>
                </div>

                <div class="workspace order" name="order">
                    <div class="workspace_order_product_list_container">
                        <label>상품 목록</label>
                        <table id="order_product_list">
                        </table>
                    </div>
                    <div class="workspace_order_table_container" >
                        <label>주문 대상</label>
                        <table id="order_table">
                        </table>
                    </div>
                    <div class="workspace_order_right_container">
                        <button class="btn btn-primary" id="do_order">주문하기</button>
                    </div>
                </div>

                <div class="workspace order_status" name="order_status">
                    <div style="height: 400px;">
                        <label>주문 목록</label>
                        <table id="order_status_table">
                        </table>
                    </div>
                    <div class="workspace_order_status_detail_table_container">
                        <label>주문 상세</label>
                        <table id="order_status_detail_table">
                        </table>
                    </div>
                </div>
                <div class="workspace store" name="store">
                    <div style="height: 350px;">
                        <label>입고 목록</label>
                        <table id="store_table">
                        </table>
                    </div>
                    <div style="height: 300px;">
                        <label>입고 상세</label>
                        <table id="store_detail_table">
                        </table>
                    </div>
                </div>

                <div class="workspace stock" name="stock">
                    <div class="workspace_stock_container">
                        <label>재고 목록</label>
                        <table id="stock_list">
                        </table>
                    </div>
                </div>

                <div class="workspace return" name="return">
                    <div class="workspace_return_product_list_container">
                        <label>재고</label>
                        <table id="return_product_list">
                        </table>
                    </div>
                    <div class="workspace_return_table_container" >
                        <label>반품 대상</label>
                        <table id="return_table">
                        </table>
                    </div>
                    <div class="workspace_return_right_container">
                        <button class="btn btn-primary" id="do_return">반품하기</button>
                    </div>
                </div>

                <div class="workspace return_status" name="return_status">
                    <div style="height: 400px;">
                        <label>반품 목록</label>
                        <table id="return_status_table">
                        </table>
                    </div>
                    <div class="workspace_return_status_detail_table_container">
                        <label>반품 상세 정보</label>
                        <table id="return_status_detail_table">
                        </table>
                    </div>
                </div>

                <div class="workspace loss" name="loss">
                </div>

                <div class="workspace discard" name="discard">
                </div>

                <div class="workspace member" name="member">
                    <div class="workspace_member_container">
                        <label>회원 목록</label>
                        <table id="member_list">
                        </table>
                    </div>
                    <div class="workspace_member_manage_container" style="margin-top: 20px">
                        <div class = "div_row">
                            <label>전화번호</label>
                            <input id="member_phonno">
                        </div>
                        <div class = "div_row">
                            <label>패스워드</label>
                            <input id="member_pw">
                            <button id = "member_register" class = "btn btn-primary" style="margin-left: 15px;margin-top:-15px;">회원등록</button>
                        </div>
                    </div>
                </div>

                <div class="workspace employee" name="employee">
                    <div class="workspace_employee_container">
                        <label>직원 목록</label>
                        <table id="employee_list">
                        </table>
                    </div>
                    <div class="workspace_employee_manage_container" style="margin-top: 20px">
                        <div class = "div_row">
                            <label>직원이름</label>
                            <input id="employee_name">
                        </div>
                        <div class = "div_row">
                            <label>전화번호</label>
                            <input id="employee_phonno">
                            <button id = "employee_hire" class = "btn btn-primary" style="margin-left: 15px;margin-top:-15px;">직원등록</button>
                        </div>
                    </div>
                </div>

                <div class="workspace cvs" name="cvs">
                    <div style="height: 300px;">
                        <label>생활서비스 목록</label>
                        <table id="cvs_all_table">
                        </table>
                    </div>
                    <div class="workspace_cvs_branch_table_container">
                        <label>우리 지점에서 시행중인 생활서비스</label>
                        <table id="cvs_branch_table">
                        </table>
                    </div>

                    <div class="workspace_cvs_manage_container" style="margin-top: 20px">
                        <div class = "div_row">
                            <label>생활서비스코드</label>
                            <input type="input" id="enroll_cvs_code"></input>
                            <button id="enroll_cvs" class="btn btn-primary">등록</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="notification_dialog" class="dialog">
            <dic class="notification_dialog_container">
                <div class="dialog_header">
                    알림
                </div>
                <div id="notification_dialog_msg">
                </div>
                <div class="dialog_footer">
                    <button id="notification_dialog_close" class="btn btn-primary pull-right close_dialog">닫기</button>
                    <button id="notification_dialog_confirm" class="btn btn-default pull-right dialog_confirm" style="display:none;">확인</button>
                </div>
            </div>
        </div>
    </body>
	<script src="lib/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="js/sell.js"></script>
    <script src="js/selllist.js"></script>
    <script src="js/order.js"></script>
    <script src="js/order_status.js"></script>
    <script src="js/stock.js"></script>
    <script src="js/_return.js"></script>
    <script src="js/return_status.js"></script>
    <script src="js/refund.js"></script>
    <script src="js/store.js"></script>
    <script src="js/employee.js"></script>
    <script src="js/member.js"></script>
    <script src="js/cvs.js"></script>
	<script src="js/main.js"></script>
    <script>
        $(document).ready(function() {
            main.init();
        });
    </script>
</html>
