<!DOCTYPE html>
<html>
    <head>
        <title>UOS25</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    </head>
    <body>
        <!-- 판매 주문 주문현황 재고  -->
        <div class="main_container">
            <section class="top_container">
                <img src="/images/uos25_logo.png" class="main_logo">
                <div class="title">UOS25 전산 시스템</div>
                <div class="branch_name">휘경1동점</div>
                <div class="pos_code">POS 1</div>
            </section>
            <section class="left_container">
                <div class="menu active" target="sell">판매</div>
                <div class="menu" target="refund">환불</div>
                <div class="menu" target="order">주문</div>
                <div class="menu" target="order_status">주문현황</div>
                <div class="menu" target="store">입고</div>
                <div class="menu" target="stock">재고</div>
                <div class="menu" target="return">반품</div>
                <div class="menu" target="loss">손실</div>
                <div class="menu" target="discard">폐기</div>
                <div class="menu" target="member">회원관리</div>
                <div class="menu" target="employee">직원관리</div>
            </section>
            <section class="right_container">
                <div class="workspace sell active" name="sell">
                    <div class="workspace_sell_table_container">
                        <table id="sell_list">
                        </table>
                    </div>
                    <div class="workspace_sell_addon_container">
                        <div class="div_row">
                            <div class="float_left">
                                <label>상품코드</label>
                                <input id="sell_product_id">
                            </div>
                            <div class="float_right">
                                <label>판매금액</label>
                                <input id="sell_price_sum" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>성별</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_sex" value="M">남성</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_sex" value="W">여성</label>
                            </div>
                            <div class="float_right">
                                <label>사용 포인트</label>
                                <input id="sell_use_point_price" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>연령</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="10대">10대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="20대">20대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="30대">30대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="40대">40대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="50대">50대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="60대">60대</label>
                                <label class="sell_radio_button_label"><input type="radio" name="sell_radio_age" value="기타">기타</label>
                            </div>
                            <div class="float_right">
                                <label>결제하실 금액</label>
                                <input id="sell_need_pay_price" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_right">
                                <label>결제하신 금액</label>
                                <input id="sell_paid_price" value=0>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>회원번호</label>
                                <input id="sell_member_code">
                            </div>
                            <div class="float_left">
                                <label>비밀번호</label>
                                <input type="password" id="sell_member_pw">
                            </div>
                            <div class="float_right">
                                <label>거스름돈</label>
                                <input id="sell_change" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <button id="sell_member_check_button" class="btn btn-primary btn-sm">회원 확인</button>
                                <label id="sell_member_check_complete" class="point_dialog_member_check_msg">확인완료</label>
                                <label id="sell_member_check_fail" class="point_dialog_member_check_msg">등록되지 않은 회원입니다.</label>
                            </div>
                            <div class="float_right">
                                <label>적립 포인트</label>
                                <input id="sell_save_point_price" value=0 disabled>
                            </div>
                        </div>
                        <div class="div_row">
                            <div class="float_left">
                                <label>현재 포인트</label>
                                <input id="sell_member_before_point" val=0 disabled>
                            </div>
                            <div class="float_left">
                                <label>결제 후 포인트</label>
                                <input id="sell_member_after_point" val=0 disabled>
                            </div>
                            <div class="float_right">
                                <button id="sell_by_cash" class="btn btn-primary">현금 결제</button>
                                <button id="sell_by_card" class="btn btn-primary">카드 결제</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workspace refund" name="refund">
                </div>
                <div class="workspace order" name="order">
                </div>
                <div class="workspace order_status" name="order_status">
                </div>
                <div class="workspace store" name="store">
                </div>
                <div class="workspace stock" name="stock">
                    <table id="sell_list">
                    </table>
                </div>
                <div class="workspace return" name="return">
                </div>
                <div class="workspace loss" name="loss">
                </div>
                <div class="workspace discard" name="discard">
                </div>
                <div class="workspace member" name="member">
                </div>
                <div class="workspace employee" name="employee">
                </div>
            </section>
        </div>
        <div id="notification_dialog" class="dialog">
            <dic class="notification_dialog_container">
                <div class="dialog_header">
                    알림
                </div>
                <div id="notification_dialog_msg">
                </div>
                <div class="dialog_footer">
                    <button id="notification_dialog_close" class="btn btn-primary pull-right close_dialog">닫기</button>
                </div>
            </div>
        </div>
    </body>
	<script src="lib/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
	<script src="js/main.js"></script>
    <script>
        $(document).ready(function() {
            main.init();
        });
    </script>
</html>
