body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

td {
    border-bottom: 1px solid #ccc;
}

.dataTables_scroll {
    border: 1px solid #ccc;
}

.main_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
        "top top"
        "left right";
}

.main_container > section {
    border: 1px solid #aaa;
}

.top_container {
    grid-area: top;
    min-width: 1024px;
    background-color: antiquewhite;
}

.left_container {
    grid-area: left;
    min-height: 700px;
    /*background-color: #fff9f1;*/
}

.right_container {
    grid-area: right;
    min-height: 700px;
}

.top_container > div {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
}

/*table {
    width: 100%;
}

table tr td {
    border: 1px solid #ddd;
    height: 24px;
    text-align: center;
}

table tr:first-child td {
    background-color: #eee;
}*/

.menu {
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-align: right;
    border-right: 10px solid #ffc54e;
    padding: 10px 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.menu:hover {
    border-right-color: #ffab00;
    cursor: pointer;
}

.menu.active {
    border-right-color: #2e6db7;
}

.workspace {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.workspace:not(.active) {
    display: none !important;
}

.workspace.sell {
    /*display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "sell-left sell-right";*/
}

.workspace_sell_table_container {
    height: 400px
}

.workspace_sell_addon_container input {
    text-align: right;
}

.workspace.sell .left {
    /*grid-area: sell-left;*/
    padding: 15px;
}
.workspace.sell .right {
    /*grid-area: sell-right;*/
}

.workspace.stock {
    padding: 15px;
}

.div_row {
    height: 40px;
}

.div_row > .float_left {
    float: left;
    margin-right: 10px;
}

.div_row > .float_right {
    float: right;
    margin-left: 10px;
}

.dialog_header {
    height: 35px;
    background-color: #333;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dialog_footer {
    height: 40px;
    padding: 5px;
}

.close_dialog {
    margin-left: 5px;
}

#notification_dialog {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#notification_dialog.shown {
    display: inline-flex;
}

.notification_dialog_container {
    background-color: white;
    height: 200px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

#notification_dialog_msg {
    height: 120px;
    padding: 10px;
}

.point_dialog_member_check_msg {
    display: none;
}

.sell_radio_button_label {
    margin-left: 5px;
    font-weight: normal
}

#sell_member_code,
#sell_member_pw,
#sell_member_before_point,
#sell_member_after_point {
    width: 100px
}

.sell_prdt_cnt_input {
    width: 100%;
    text-align: right;
}









/* order */
.workspace_order_product_list_container {
    height: 400px;
}

.workspace_order_table_container {
    width: 85%;
    float: left;
    height: 250px;
}

.workspace_order_right_container {
    height: 250px;
    width: 15%;
    float: right;
}

.workspace_order_right_container button {
    margin-top: 215px;
    float: right;
}

.order_table_cnt {
    width: 35px;
    text-align: right;
}

.workspace_order_status_detail_table_container {
    width: 85%;
    float: left;
    height: 250px;
}

.workspace_order_status_right_container {
    height: 250px;
    width: 15%;
    float: right;
}

.workspace_order_status_right_container button {
    margin-top: 215px;
    float: right;
}
